<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ofcampus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.app.ofcampus.application.OfCampusApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.app.ofcampus.SplashScreenActivity"
            android:theme="@style/other_theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.ofcampus.LoginScreenActivity"
            android:theme="@style/other_theme" >
        </activity>
        <activity
            android:name="com.app.ofcampus.SignUpActivity"
            android:theme="@style/other_theme" >
        </activity>
        <activity
            android:name="com.app.ofcampus.WelcomeActivity"
            android:label="@string/title_activity_welcom"
            android:theme="@style/other_theme" >
        </activity>
        <activity
            android:name="com.app.ofcampus.FooterActivity"
            android:label="@string/title_activity_container"
            android:theme="@style/other_theme" >
        </activity>
        <activity
            android:name="com.app.ofcampus.HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name="com.app.ofcampus.EmailVerificationActivity"
           android:theme="@style/other_theme"
            android:label="@string/title_activity_email_verification" >
        </activity>  
        <activity
            android:name="com.app.ofcampus.PostAdPageOneActivity" >
        </activity>
        <activity
            android:name="com.app.ofcampus.PostAdPageTwoActivity">
        </activity>
        <activity
            android:name="com.app.ofcampus.PostAdPageThirdActivity">
        </activity>
        <activity
            android:name="com.app.ofcampus.PostAdPageActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        
        <activity
            android:name="com.app.ofcampus.ClassifiedsActivity">
        </activity>
        <activity
            android:name="com.app.ofcampus.ClassifiedActivity"
            android:label="@string/title_activity_classified" >
        </activity>
    </application>

</manifest>
